* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:deepskyblue;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
}

h1 {
    align-self: center;
}

.main > div {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
}

.main > div label {
    background-color:rgb(255, 80, 203);
    padding: 5px;
    width: 70%;
    text-align: left;
    font-size: large;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.main > div input {
    background-color: blanchedalmond;
    width:30%;
    padding: 5px;
    font-size: large;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 400;
}

#resultrow {
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#resultrow label {
    text-align: center;
    width: auto;
    font-size: x-large;
    padding: 10px;
}
